<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<%- include('includes/links') %>
	

</head>
<body>
	
<%- include('includes/head') %>
	
	<!-- <img src="img/EritreanBird.jpeg" alt=""> -->
 <p/>

 
 <table >
  <% x.forEach((y)=> { %>
 
    <tr>
      <th>
      	<td><a><img src="img/driver3.png" width="75" height="75" alt=""> </a></td>
      	<td>
      		Name: <a href="#"><%= y.name %>  <%= y.father %></a> <br/>
      		 Location <a href="#"><%= y.city %></a> <br/>
      		Email: <%= y.email %> <br/> 
      		<div class="request-driver"><a href="#">Request</a> </div>
			<a href="/delete/<%= y.id %>">Delete</a>
		
      	</td>
      
      </th>
    </tr>
  <% }) %>
</table>







 <!-- <ul class="drivers-list">

	<% x.forEach((y)=> { %>
<img src="img/driver.png" width="50" height="50" alt="">
 
 <li>Name: <a href="#"><%= y.name %>  <%= y.father %> </a></li>
 <li> Current Location <a href="#"><%= y.city %></a></li>
<li>Email: <%= y.email %>   </li>
<li class="drivers-last"><a href="#">Request</a>    </li>



<% }) %>
	</ul> -->



	

	</body>
	</html>
